<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/styles.css">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>RuBeer</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :heads %>
</head>
<body>

    <div class="container">

        <div class="span-24 last" style="height: 40px;">
        </div>

        <div class="topbar">
            <div class="fill">
            <div class="container">
                <a class="brand" href="/">Rubeer</a>
                  <ul class="nav">
                    <li class="active"><%= link_to "Beer World", :controller => :maps, :action => :index  %></li>
                    <% if user_signed_in? %>                          
                        <li class="active"><%= link_to "Hall of Fame", :controller => :users, :action => :index  %></li>
                        <li class="active"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                    <% else %> 
                        <li class="active"><%= link_to "Sign up", new_user_registration_path %></li>
                        <li class="active"><%= link_to "Login", new_user_session_path %></li>                        
                    <% end %>                     
                    <li>
                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                    <g:plusone></g:plusone>
                    </li>
                  </ul>
            </div>
            </div>
        </div>

        <div id="content" class="content">

            <%= yield %>

        </div>

        <div style="clear: both;"></div>

        <footer>
            <div style="text-align: center">&copy; Rubeer 2011</div>
        </footer>
        <br/>

    </div>

</body>
</html>
